{% extends "layout.html" %}

{% block title %} 
Personal Information
{% endblock %}

{% block main_script %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap');
    body {
        font-family: "Prompt", sans-serif;
    }
    .hidden {
        display: none;
    }
    .next {
        margin-top: 15px;
    }
</style>
{% endblock %}

{% block question %}
<div class="container mt-5">
    <h2>Movememt Information</h2>
    <form method="POST" action="{{ url_for('movement_page') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.id_349() }}
            {{ form.id_349.label }}
            <br>
            {{ form.id_350() }}
            {{ form.id_350.label }}
            <br>
            {{ form.id_351() }}
            {{ form.id_351.label }}
            <br>
            {{ form.id_352() }}
            {{ form.id_352.label }}
            <br>
            {{ form.id_353() }}
            {{ form.id_353.label }}
            <br>
            {{ form.id_354() }}
            {{ form.id_354.label }}
            <br>
            {{ form.id_355() }}
            {{ form.id_355.label }}
            <br>
            {{ form.id_356() }}
            {{ form.id_356.label }}
            
            
            
            
        </div>
        
        <div class="next">
            <button type="submit" class="btn btn-primary">Next</button>
        </div>
    </form>
</div>
{% endblock %}
    
{% block Q_script %}
<script>
   
</script>
{% endblock %}
