{% extends "layout.html" %}

{% block title %} 
Respiratory Information
{% endblock %}

{% block main_script %}
<style>
     @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap');
    body {
        font-family: "Prompt", sans-serif;
    }
    .hidden {
        display: none;
    }
    .next {
        margin-top: 15px;
    }
</style>
{% endblock %}

{% block question %}
<div class="container mt-5">
    <h2>Respiratory Information</h2>
    <form method="POST" action="{{ url_for('respiratory_page') }}">
        {{ form.hidden_tag() }}
        <div id="breath" class="form-group">
            {{ form.breath.label }}
            {{ form.breath() }}
            <br>
            <br>
            <h5>พยายามทำตามหัวข้อเหล่านี้</h5>
            {{ form.to_breath.label }}
            {{ form.to_breath() }}
        </div>
        <div id="id_13" class="form-group hidden">
            {{ form.id_13() }} {{ form.id_13.label }}
            
        </div>
        <div id="breathable" class="form-group hidden">
            {{ form.breathable.label }}
            {{ form.breathable() }}
            
        </div>
        <div id="Loud" class="form-group hidden">
            
            {{ form.id_15() }}{{ form.id_15.label }}
            
        </div>
        <div id="Swift" class="form-group hidden">
            
            {{ form.id_16() }}{{ form.id_16.label }}<br>
            {{ form.id_20() }}{{ form.id_20.label }}<br>
            {{ form.id_5() }}{{ form.id_5.label }}

        </div>
        <div id="Stuck" class="form-group hidden">
            
            {{ form.id_6() }}{{ form.id_6.label }}<br>
            {{ form.id_7() }}{{ form.id_7.label }}<br>
            {{ form.id_8() }}{{ form.id_9.label }}<br>
            {{ form.id_12() }}{{ form.id_12.label }}<br>
            {{ form.id_14() }}{{ form.id_14.label }}<br>
            {{ form.id_22() }}{{ form.id_22.label }}<br>
            {{ form.id_23() }}{{ form.id_23.label }}

        </div>

        <div class="next">
            <button type="submit" class="btn btn-primary">Next</button>
        </div>
    </form>
</div>
{% endblock %}
    
{% block Q_script %}
<script>
   document.addEventListener('DOMContentLoaded', function () {
        const canbreath = document.querySelector('input[name="breath"][value="canbreath"]');
        const cannotbreath = document.querySelector('input[name="breath"][value="cannotbreath"]');

        const breathableDiv = document.getElementById('breathable');
        const LoudDiv = document.getElementById('Loud');
        const SwiftDiv = document.getElementById('Swift');
        const StuckDiv = document.getElementById('Stuck');
        const id_13Div = document.getElementById('id_13');

        const Loud = document.querySelector('input[name="breathable"][value="loud"]');
        const Swift = document.querySelector('input[name="breathable"][value="swift"]');
        const Stuck = document.querySelector('input[name="breathable"][value="stuck"]');
        

        function Breathable() {
            if (canbreath.checked) {
                breathableDiv.classList.remove('hidden');
            } else {
                breathableDiv.classList.add('hidden');
                // Hide sub-options if 'breathable' is hidden
                LoudDiv.classList.add('hidden');
                SwiftDiv.classList.add('hidden');
                StuckDiv.classList.add('hidden');
            }
        }

        function unBreathable() {
            if (cannotbreath.checked) {
                id_13Div.classList.remove('hidden');
            } else {
                id_13Div.classList.add('hidden');
            }
        }


        function BreathLoud() {
            if (Loud.checked) {
                LoudDiv.classList.remove('hidden');
            } else {
                LoudDiv.classList.add('hidden');
            }
        }

        function BreathSwift() {
            if (Swift.checked) {
                SwiftDiv.classList.remove('hidden');
            } else {
                SwiftDiv.classList.add('hidden');
            }
        }

        function BreathStuck() {
            if (Stuck.checked) {
                StuckDiv.classList.remove('hidden');
            } else {
                StuckDiv.classList.add('hidden');
            }
        }

        canbreath.addEventListener('change', Breathable);
        Loud.addEventListener('change', BreathLoud);
        Swift.addEventListener('change', BreathSwift);
        Stuck.addEventListener('change', BreathStuck);
        cannotbreath.addEventListener('change', unBreathable);

        Breathable();
        BreathLoud();
        BreathSwift();
        BreathStuck();
        unBreathable();
    });
</script>
{% endblock %}

