{% extends "layout.html" %}

{% block title %} 
Appearance Information
{% endblock %}

{% block main_script %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap');
    body {
        font-family: "Prompt", sans-serif;
    }
    .next {
        margin-top: 15px;
    }
</style>
{% endblock %}

{% block question %}
<div class="container mt-5">
    <h2>Appearance Information</h2>
    <form method="POST" action="{{ url_for('appearance_page') }}">
        {{ form.hidden_tag() }}
        <br>
        <!-- Shock and Severe Bleeding -->
        <h3>Shock and Severe Bleeding</h3>
        <div class="form-group">
            {{ form.id_55() }}{{ form.id_55.label }}<br>
            {{ form.id_56() }}{{ form.id_56.label }}<br>
            {{ form.id_57() }}{{ form.id_57.label }}<br>
            {{ form.id_58() }}{{ form.id_58.label }}<br>
            {{ form.id_60() }}{{ form.id_60.label }}<br>
            {{ form.id_73() }}{{ form.id_73.label }}<br>
            {{ form.id_74() }}{{ form.id_74.label }}<br>
            {{ form.id_78() }}{{ form.id_78.label }}<br>
            {{ form.id_79() }}{{ form.id_79.label }}<br>
            {{ form.id_80() }}{{ form.id_80.label }}<br>
            {{ form.id_81() }}{{ form.id_81.label }}<br>
            {{ form.id_87() }}{{ form.id_87.label }}<br>
            {{ form.id_88() }}{{ form.id_88.label }}<br>
            {{ form.id_89() }}{{ form.id_89.label }}<br>
            {{ form.id_90() }}{{ form.id_90.label }}<br>
            {{ form.id_117() }}{{ form.id_117.label }}<br>
        </div>
        <br>
        <!-- Allergic Reactions -->
        <h3>Allergic Reactions</h3>
        <div class="form-group">
            {{ form.id_63() }}{{ form.id_63.label }}<br>
            {{ form.id_64() }}{{ form.id_64.label }}<br>
            {{ form.id_65() }}{{ form.id_65.label }}<br>
            {{ form.id_66() }}{{ form.id_66.label }}<br>
            {{ form.id_67() }}{{ form.id_67.label }}<br>
            {{ form.id_68() }}{{ form.id_68.label }}<br>
        </div>
        <br>
        <!-- Animal and Insect Bites -->
        <h3>Animal and Insect Bites</h3>
        <div class="form-group">
            {{ form.id_69() }}{{ form.id_69.label }}<br>
            {{ form.id_70() }}{{ form.id_70.label }}<br>
            {{ form.id_71() }}{{ form.id_71.label }}<br>
            {{ form.id_72() }}{{ form.id_72.label }}<br>
            {{ form.id_76() }}{{ form.id_76.label }}<br>
        </div>
        <br>
        <!-- Environmental Exposure -->
        <h3>Environmental Exposure</h3>
        <div class="form-group">
            {{ form.id_91() }}{{ form.id_91.label }}<br>
            {{ form.id_92() }}{{ form.id_92.label }}<br>
            {{ form.id_93() }}{{ form.id_93.label }}<br>
            {{ form.id_94() }}{{ form.id_94.label }}<br>
            {{ form.id_95() }}{{ form.id_95.label }}<br>
            {{ form.id_96() }}{{ form.id_96.label }}<br>
            {{ form.id_97() }}{{ form.id_97.label }}<br>
            {{ form.id_98() }}{{ form.id_98.label }}<br>
            {{ form.id_99() }}{{ form.id_99.label }}<br>
            {{ form.id_100() }}{{ form.id_100.label }}<br>
        </div>
        <br>
        <!-- Drug and Poison Exposure -->
        <h3>Drug and Poison Exposure</h3>
        <div class="form-group">
            {{ form.id_102() }}{{ form.id_102.label }}<br>
            {{ form.id_105() }}{{ form.id_105.label }}<br>
            {{ form.medicine() }}{{ form.medicine.label }}<br>
            {{ form.timetaken() }}{{ form.timetaken.label }}<br>
            {{ form.self_med() }}{{ form.self_med.label }}<br>
            {{ form.id_112() }}{{ form.id_112.label }}<br>
            {{ form.id_189() }}{{ form.id_189.label }}<br>
            {{ form.corrosive() }}{{ form.corrosive.label }}<br>
            {{ form.swoll() }}{{ form.swoll.label }}<br>
            {{ form.adverse() }}{{ form.adverse.label }}<br>
            {{ form.drug_type() }}{{ form.drug_type.label }}<br>
            {{ form.tekentime() }}{{ form.tekentime.label }}<br>
            {{ form.id_104() }}{{ form.id_104.label }}<br>
            {{ form.id_116() }}{{ form.id_116.label }}<br>
            {{ form.id_126() }}{{ form.id_126.label }}<br>
            {{ form.id_127() }}{{ form.id_127.label }}<br>
            {{ form.id_128() }}{{ form.id_128.label }}<br>
            {{ form.id_130() }}{{ form.id_130.label }}<br>
            {{ form.id_131() }}{{ form.id_131.label }}<br>
            {{ form.id_132() }}{{ form.id_132.label }}<br>
            {{ form.id_133() }}{{ form.id_133.label }}<br>
            {{ form.id_143() }}{{ form.id_143.label }}<br>
            {{ form.id_205() }}{{ form.id_205.label }}<br>
            {{ form.headtime() }}{{ form.headtime.label }}<br>
        </div>
        <br>
        <!-- Injuries and Trauma -->
        <h3>Injuries and Trauma</h3>
        <div class="form-group">
            {{ form.id_29() }}{{ form.id_29.label }}<br>
            {{ form.id_152() }}{{ form.id_152.label }}<br>
            {{ form.id_153() }}{{ form.id_153.label }}<br>
            {{ form.id_141() }}{{ form.id_141.label }}<br>
            {{ form.id_158() }}{{ form.id_158.label }}<br>
            {{ form.id_159() }}{{ form.id_159.label }}<br>
            {{ form.id_206() }}{{ form.id_206.label }}<br>
            {{ form.id_134() }}{{ form.id_134.label }}<br>
            {{ form.id_200() }}{{ form.id_200.label }}<br>
            {{ form.id_182() }}{{ form.id_182.label }}<br>
            {{ form.id_62() }}{{ form.id_62.label }}<br>
            {{ form.id_160() }}{{ form.id_160.label }}<br>
            {{ form.id_161() }}{{ form.id_161.label }}<br>
            {{ form.id_59() }}{{ form.id_59.label }}<br>
            {{ form.id_103() }}{{ form.id_103.label }}<br>
            {{ form.id_118() }}{{ form.id_118.label }}<br>
            {{ form.id_142() }}{{ form.id_142.label }}<br>
            {{ form.id_163() }}{{ form.id_163.label }}<br>
            {{ form.id_165() }}{{ form.id_165.label }}<br>
            {{ form.id_168() }}{{ form.id_168.label }}<br>
            {{ form.id_171() }}{{ form.id_171.label }}<br>
            {{ form.id_172() }}{{ form.id_172.label }}<br>
            {{ form.id_174() }}{{ form.id_174.label }}<br>
            {{ form.id_175() }}{{ form.id_175.label }}<br>
            {{ form.id_176() }}{{ form.id_176.label }}<br>
            {{ form.id_177() }}{{ form.id_177.label }}<br>
            {{ form.id_178() }}{{ form.id_178.label }}<br>
            {{ form.id_180() }}{{ form.id_180.label }}<br>
            {{ form.id_203() }}{{ form.id_203.label }}<br>
            {{ form.id_204() }}{{ form.id_204.label }}<br>
            {{ form.id_137() }}{{ form.id_137.label }}<br>
            {{ form.id_138() }}{{ form.id_138.label }}<br>
            {{ form.id_156() }}{{ form.id_156.label }}<br>
            {{ form.id_187() }}{{ form.id_187.label }}<br>
            {{ form.id_198() }}{{ form.id_198.label }}<br>
            {{ form.id_199() }}{{ form.id_199.label }}<br>
        </div>
        <br>
        <h3>Cardiac and Respiratory Conditions</h3>
        <div class="form-group">
            {{ form.HR.label }}{{ form.HR() }}
        </div>
        <br>
        <h3>Pediatric Conditions</h3>
        <div class="form-group">
            {{ form.id_82() }}{{ form.id_82.label }}<br>
            {{ form.DOA.label }}{{ form.DOA() }}
        </div>



        <!-- Submit Button -->
        <div class="next">
            <button type="submit" class="btn btn-primary">Next</button>
        </div>
    </form>
</div>
{% endblock %}
